{% load price_filters %}
<div class="table-responsive">
    <table class="table table-sm" id="priceHistoryTable">
        <thead>
            <tr>
                <th>年度</th>
                <th>適用年月</th>
                <th>仕切価格</th>
                <th>県連価格</th>
                <th>粗利率</th>
                <th>改定額</th>
                <th>改定理由</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            {% if show_new_row %}
                {% include 'products_master/partials/price_history_new_row.html' with index=0 %}
            {% endif %}
            {% for preview in preview_histories %}
                {% include 'products_master/partials/price_history_new_row.html' with index=preview.index effective_year_month=preview.effective_year_month wholesale_price=preview.wholesale_price kenren_price=preview.kenren_price revision_reason=preview.revision_reason %}
            {% endfor %}
            {% for history in price_histories %}
                {% include 'products_master/partials/price_history_row_editable.html' %}
            {% endfor %}
        </tbody>
    </table>
</div>